body{
    margin: 0;
    padding: 0;
    background-color: #5d78a1;;
    color:#3e3d3d;
    text-align: center;
    font-family: monospace;
}

.texto-center{
    margin: 0 auto;
    
}
.resultado{
    color: brown;
}
.sinResultado{
    color:#3e3d3d;
}
button{
    margin: 0px 0.5rem;
    background-color: #4CAF50;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 19px;
    border-color: #4CAF50;
    border: none;
}